
<html>
  <head></head>
  <body>
  	<h1>The Secret Number Game</h1>
    <p><%= message %></p>
  	<form>
  		<input type="text" name="guess"/>
  		<input type="submit" value="Guess"/>
  	</form>
  </body>
</html>